<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <select name="categoria" id="categoria" multiple>
            <option value="museo">Museos</option>
            <option value="historico">Lugares Historicos</option>
            <option value="recreativo">Lugares Recreativos</option>
        </select>
        <input type="submit" value="Buscar">
    </form>

    <iframe src="/vista-filtrada" height="700" width="700"></iframe>
</body>
</html>