<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Lista de Lugares</title>
  </head>
  <body>
    <h1>LISTA COMPLETA</h1>
    <div class="flex flex-col flex-wrap">
      {%for lugar in lista%}
      <div
        class="items-center bg-white rounded-lg border shadow-md flex flex-row md:max-w-xl hover:bg-gray-100 w-1/4 h-64"
      >
        <img
          class="object-cover shrink grow w-40 rounded-t-lg md:rounded-none md:rounded-l-lg"
          src="{{lugar.imagen}}"
          alt=""
        />
        <div class="flex flex-col justify-between p-4 leading-normal">
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            {{lugar.id}} {{lugar.nombre}}
          </h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            {{lugar.descripcion}}
          </p>
        </div>
      </div>
      <hr />
      {%endfor%}
    </div>
  </body>
</html>
