<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_68568f531544b9b996277f50bdad8073 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_68568f531544b9b996277f50bdad8073" ></div>
        
</body>
<script>    
    
            var map_68568f531544b9b996277f50bdad8073 = L.map(
                "map_68568f531544b9b996277f50bdad8073",
                {
                    center: [-25.302148501254027, -57.580945507743685],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_fe6995baf45c3a906c13cf0eed0235fa = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_68568f531544b9b996277f50bdad8073);
        
    
            var marker_c87c4dedb026ac5275b91288e884454a = L.marker(
                [-25.914204216207594, -56.1534334860266],
                {}
            ).addTo(map_68568f531544b9b996277f50bdad8073);
        
    
            var icon_15c0079c373aab9951c5654983dd9783 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart-empty", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_c87c4dedb026ac5275b91288e884454a.setIcon(icon_15c0079c373aab9951c5654983dd9783);
        
    
        var popup_96c5cef114e6f07f31c631068e2398e6 = L.popup({"maxWidth": "100%"});

        
            var html_13529af9a08927b63b4c676dd383b1f3 = $(`<div id="html_13529af9a08927b63b4c676dd383b1f3" style="width: 100.0%; height: 100.0%;">             <img src="https://turista.s3-sa-east-1.amazonaws.com/img/bg-img/cerro-3-kandu-1.jpg" width="100" class="center">             <h1>Cerro Tres Kandú</h1>             <p>Esta ubicado en el departamento Guairá , además es el punto más alto del territorio de la República del Paraguay.</p>             </div>`)[0];
            popup_96c5cef114e6f07f31c631068e2398e6.setContent(html_13529af9a08927b63b4c676dd383b1f3);
        

        marker_c87c4dedb026ac5275b91288e884454a.bindPopup(popup_96c5cef114e6f07f31c631068e2398e6)
        ;

        
    
    
            var marker_cb81e61bacc34c2ed4873dd0a20fba1b = L.marker(
                [-25.565503800638734, -57.2832477285861],
                {}
            ).addTo(map_68568f531544b9b996277f50bdad8073);
        
    
            var icon_b455dde52a5ea7374882d4cbec99a123 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart-empty", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_cb81e61bacc34c2ed4873dd0a20fba1b.setIcon(icon_b455dde52a5ea7374882d4cbec99a123);
        
    
        var popup_5efeca51c9ddac190a283d31a6e83726 = L.popup({"maxWidth": "100%"});

        
            var html_bf950e78ec300439b70c565d667dcf36 = $(`<div id="html_bf950e78ec300439b70c565d667dcf36" style="width: 100.0%; height: 100.0%;">             <img src="https://www.adndigital.com.py/wp-content/uploads/2021/04/YAGUAR%C3%93N.jpg" width="100" class="center">             <h1>Cero Yaguarón</h1>             <p>Esta ubicado en el departamento de Paraguarí  con una altura de más de 300 metros sobre el nivel del mar por ello, lo convierte en el mejor sitio para observar la ciudad y las serranías de la cordillera de los Altos, que rodea la región. </p>             </div>`)[0];
            popup_5efeca51c9ddac190a283d31a6e83726.setContent(html_bf950e78ec300439b70c565d667dcf36);
        

        marker_cb81e61bacc34c2ed4873dd0a20fba1b.bindPopup(popup_5efeca51c9ddac190a283d31a6e83726)
        ;

        
    
    
            var marker_98c52898f00d1b4c4666eb060ae3de4c = L.marker(
                [-25.898299868747046, -56.15000025854454],
                {}
            ).addTo(map_68568f531544b9b996277f50bdad8073);
        
    
            var icon_577ca5e876604dad06a953ab81290969 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart-empty", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_98c52898f00d1b4c4666eb060ae3de4c.setIcon(icon_577ca5e876604dad06a953ab81290969);
        
    
        var popup_d3a40b9909d215d7a0fed730b4d3a49d = L.popup({"maxWidth": "100%"});

        
            var html_58e3fbbf13277f346e1a393b1743955b = $(`<div id="html_58e3fbbf13277f346e1a393b1743955b" style="width: 100.0%; height: 100.0%;">             <img src="https://media-cdn.tripadvisor.com/media/photo-s/0c/c6/cd/22/vista-desde-el-cerro.jpg" width="100" class="center">             <h1>Cerro Peró </h1>             <p>Esta ubicado en Paraguarí. Ofrece una vista completa de la ciudad, en la cima posee una gran planicie que hoy en día se utiliza como mirador natural y desde ahí puede divisarse las otras elevaciones importantes de Paraguarí </p>             </div>`)[0];
            popup_d3a40b9909d215d7a0fed730b4d3a49d.setContent(html_58e3fbbf13277f346e1a393b1743955b);
        

        marker_98c52898f00d1b4c4666eb060ae3de4c.bindPopup(popup_d3a40b9909d215d7a0fed730b4d3a49d)
        ;

        
    
    
            var circle_94f65cc7ec2e5e53ba3b748f2e20d3da = L.circle(
                [-25.898299868747046, -56.15000025854454],
                {"bubblingMouseEvents": true, "color": "none", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "darkred", "fillOpacity": 0.1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 120, "stroke": true, "weight": 3}
            ).addTo(map_68568f531544b9b996277f50bdad8073);
        
</script>